.form {
  width: 85%;
  margin: 0 auto;

  &__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    min-height: 140px;
    margin: 1% auto;
    padding: 2% 0;

    &--hidden {
      display: none;
      margin: 0;
    }

    @media screen and (max-width: 1028px) {
      flex-direction: column;
    }
  }

  &__field {
    width: 48%;
    margin: 2% auto;
    text-align: center;

    @media screen and (max-width: 1028px) {
      width: 100%;
    }

    &--container {
      display: inline-block;

      width: 70%;

      text-align: left;
    }

    @media screen and (max-width: 1028px) {
      width: 80%;
    }
  }

  &__label {
    display: block;
    margin-bottom: 1%;
    width: 150%;
  }

  &__concerns {
    list-style: none;
  }

  &__input {
    font-family: $text-font-stack;
    background-color: $bg-color;
    width: 100%;
  }

  &__tab-bar {
    margin: 0.5% auto;

    button {

      border-top: 2px solid $brand-color;
      border-bottom: 2px solid $brand-color;
      border-left: none;
      border-right: none;
      padding: 0.6%;

      background-color: rgba(0, 0, 0, 0);
      cursor: pointer;

      font-family: $text-font-stack;

      &:hover {
        animation: "highlight-tab" 0.1s forwards;
      }
      
      &:first-child {
        border-left: 2px solid $brand-color;
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
      }

      &:last-child {
        border-right: 2px solid $brand-color;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
      }
    }

    &--selected {
      border-color: $brand-color !important;
      background-color: $brand-color !important; // you never saw this
    }
  }

  &__main {
    background-color: rgba(0, 0, 0, 0);
    padding: 2% 5%;
    border-radius: 5px;
  }

  &__top {
    margin: 15px;

    text-align: center;

    .form__label {
      width: 100%;
    }
  }

  &__submit {
    width: 30%;
    margin: 4% auto;
    border: none;
    border-radius: 3px;
    padding: 2%;

    background-color: $brand-color;

    cursor: pointer;
    font-family: $text-font-stack;

    &:hover {
      animation: "highlight" 0.1s forwards;
    }
  }
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

@keyframes highlight-tab {
  from {
    background-color: $brand-color;
    border-color: $brand-color;
  }
  to {
    background-color: $brand-color-dark;
    border-color: $brand-color-dark;
  }
}
