// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
background-color: $bg-color;

  text-align: center;

  &__title {
    margin: 0;
    padding: 2%;

    font-family: $title-font-stack;

    &--flair {
      color: $brand-color;
    }
  }
}
