// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
  background-color: $bg-color;

  text-align: center;

  &__title {
    margin: 0;
    padding: 2%;

    font-family: $title-font-stack;

    &--flair {
      color: $brand-color;
    }

    @media screen and (max-width: 1080px) {
      font-size: 150%;
    }

    @media screen and (max-width: 840px) {
      font-size: 100%;
    }

    @media screen and (max-width: 640px) {
      font-size: 50%;
    }
  }
}
