.charts {
  background-color: $bg-color;

  &__hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
  
    width: 100%;
  }
  

  &__chart {
    width: 100%;
    height: 10%;
  }
}

.details {
  padding-bottom: 50px;
  margin-bottom: 50px;

  background-color: $bg-color;

  .stats {
    float: left;
    width: 50%;
    padding: 0 5%;

    &__number-large {
      font-size: 200%;
      color: rgb(148, 124, 176);
    }

    &__heading {
      font-family: $title-font-stack;
      font-size: 150%;
      margin: 10px 0;
    }

    &__percent-large {
      font-size: 400%;
      margin: 30px 0;

      &--fixed {
        color: rgb(135, 211, 124);
      }

      &--variable {
        color: rgb(89, 171, 227);
      }

      &--fixed-indexed {
        color: rgb(4, 147, 114);
      }
    }
    
    section {
      text-align: center;
      padding: 6% 12%;

      p {
        margin: 10px 0;
      }
    }

    &__categories {
      float: left;

      padding: 0;

      font-weight: bold;
      list-style: none;
    }

    &__stats {
      float: right;

      padding: 0;

      text-align: right;
      list-style: none;
    }

    @media screen and (max-width: 1080px) {
      &__categories, &__stats {
        width: 100%;
        margin: 5px;
      }

      &__stats {
        text-align: center;
      }
    }
  }

  .riders {
    float: right;
  
    width: 50%;
    padding: 2.4% 5%;
  
    &__heading {
      font-family: $title-font-stack;
      font-size: 150%;
      margin: 10px 0 10px 0;
    }

    p {
      margin-bottom: 40px;
    }

    label {
      font-family: $title-font-stack;
      font-weight: bold;
    }

    &--pos-fixed {
      position: fixed;
    }
  
    &__checkbox {
      display: inline;
  
      margin-right: 2%;
      border: 1px solid $mid-grey;
      border-radius: 100px;
      padding: 9px 15px;
      
      cursor: pointer;

      &:hover {
        border-color: $brand-color-dark;
        background-color: $brand-color-dark;
        color: $bg-color;
      }
  
      &--checked {
        border-color: $brand-color;
        background-color: $brand-color;
        color: $bg-color;
      }
    }
  }
  

  @media screen and (max-width: 760px) {
    .riders, .stats {
      width: 100%;
    }
  }
}

.new-inputs {
  float: right;

  width: 40%;
  margin: 0 5%;
  border: none;
  border-radius: 3px;
  padding: 2%;

  background-color: $brand-color;

  cursor: pointer;
  font-family: $text-font-stack;

  &:hover {
    animation: "highlight" 0.1s forwards;
  }

  @media screen and (max-width: 760px) {
    width: 100%;
  }
}
