.form {
  &__dropbtn {
    width: 100%;
    border: none;
    border-radius: 3px;
    padding: 2%;

    background-color: $brand-color;

    cursor: pointer;

    text-align: left;
    font-family: $text-font-stack;

    &--open {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    
  }

  &__arrow {
    float: right;

    font-size: 75%;
    line-height: 170%;
  }

  &__dropbtn:hover, &__dropbtn:focus {
    background-color: $brand-color;
  }

  &__dropdown {
    position: relative;
    display: inline-block;

    width: 48%;

    @media screen and (max-width: 1028px) {
      width: 100%;
    }

    &-content {
      display: none;
      position: absolute;

      width: 70%;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      
      z-index: 1;

      @media screen and (max-width: 1028px) {
        width: 80%;
      }
      
      & button:last-child {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }

    &-content button {
      width: 100%;
      padding: 4%;
      border: none;

      background-color: $brand-color-light;
      cursor: pointer;

      text-align: left;
      font-family: $text-font-stack;
    }

    &-content button:hover {
      background-color: $brand-color;
    }
  }

  &__show {
    display: block;
  }
}
