<template>

<require from="../form-fields/currency-field.html"></require>
<require from="../form-fields/form-field.html"></require>

<require from="../form-fields/dropdown"></require>

<form class="form" role="form" with.bind="inputs" submit.trigger="print()">
  <!-- These are not the forms you are looking for -->
  <!--
        .---.  
      .'_:___".
      |__ --==|
      [  ]  :[|
      |__| I=[|
      / / ____|
     |-/.____.'
    /___\ /___\
  -->
  <section class="form__top">

  <label class="form__label">I'm looking for a</label>
  <label class="form__label">
    <input type="radio" class="form__input" model.bind="AnnuityType.Immediate" checked.bind="annuityType" />
    Immediate
  </label>
  <label class="form__label">
    <input type="radio" class="form__input" model.bind="AnnuityType.Deferred" checked.bind="annuityType" />
    Deferred
  </label>
  <label class="form__label">annuity</label>

  </section>
  <section class="form__main">
  <section class="form__section" if.bind="annuityType == AnnuityType.Deferred">

    <currency-field value.bind="additions" label-text="How much can you contribute yearly?"></currency-field>
    <form-field type="number" value.bind="yearsAdding" label-text="How many years will you contribute?"></form-field>

  </section>
  <section class="form__section" if.bind="annuityType == AnnuityType.Immediate">

    <currency-field value.bind="initialInvestment" label-text="I plan to invest"></currency-field>
    <dropdown label-text="The money I will invest is" placeholder-text="Choose a tax status" dropdown-id="funding-source">
      <button click.trigger="fundingSource = FundingSource.Qualified">Qualified</button>
      <button click.trigger="fundingSource = FundingSource.NonQualified">Non-qualified</button>
      <button click.trigger="fundingSource = FundingSource.TaxFree">Tax-free</button>
    </dropdown>

  </section>
  <hr />
  <section class="form__section">

    <dropdown label-text="I am" placeholder-text="Choose a sex" dropdown-id="sex">
      <button click.trigger="sex = Sex.Male">Male</button>
      <button click.trigger="sex = Sex.Female">Female</button>
    </dropdown>
    <form-field type="number" value.bind="age" label-text="My current age is"></form-field>

    <dropdown label-text="My IRS filing status is" placeholder-text="Choose a filing status" dropdown-id="filing-status">
      <button click.trigger="filingStatus = FilingStatus.Joint">Joint</button>
      <button click.trigger="filingStatus = FilingStatus.HeadOfHousehold">Head of household</button>
      <button click.trigger="filingStatus = FilingStatus.Unmarried">Unmarried</button>
      <button click.trigger="filingStatus = FilingStatus.MarriedSeparate">Married filing separately</button>
    </dropdown>
    <currency-field value.bind="income" label-text="My current income is"></currency-field>

  </section>
  <hr />
  <section class="form__section">
    <div class="form__field">
      <label class="form__label">Please rate each of the following concerns</label>

      <ul class="form__concerns">
        <li>
          <label class="form__label">Concern 1</label>
          <input type="range" class="form__input" name="concern1" min="0" max="2" step="1" />
        </li>
        <li>
          <label class="form__label">Concern 2</label>
          <input type="range" class="form__input" name="concern2"  min="0" max="2" step="1" />
        </li>
        <li>
          <label class="form__label">Concern 3</label>
          <input type="range" class="form__input" name="concern3"  min="0" max="2" step="1" />
        </li>
      </ul>
    </div>

  </section>
  <section class="form__section">

    <button type="submit" class="form__submit">Submit</button>

  </section>
  </section>
</form>

</template>
