<template>

<require from="../form-fields/currency-field.html"></require>
<require from="../form-fields/form-field.html"></require>

<require from="../form-fields/dropdown"></require>

<form class="form" role="form" with.bind="inputs" submit.trigger="clickedSubmit()">
  <!-- These are not the forms you are looking for -->
  <!--
        .---.  
      .'_:___".
      |__ --==|
      [  ]  :[|
      |__| I=[|
      / / ____|
     |-/.____.'
    /___\ /___\
  -->
  <section class="form__top">

  <label id="looking-for" class="form__label">I'm looking for an</label>
  <div class="form__tab-bar">
    <button id="immediate" class="form__tab-bar--selected" click.trigger="selected(AnnuityType.Immediate)">Immediate</button><!--no space for u
    --><button id="deferred" click.trigger="selected(AnnuityType.Deferred)">Deferred</button>
  </div>
  <label class="form__label">annuity</label>

  </section>
  <section class="form__main">
  <section class="form__section" if.bind="annuityType == AnnuityType.Deferred">

    <currency-field input-value.two-way="additions" label-text="I will annually set aside"></currency-field>
    <form-field type="number" input-value.two-way="yearsAdding" label-text="How many years will you contribute?"></form-field>

  </section>
  <section class="form__section" if.bind="annuityType == AnnuityType.Immediate">

    <currency-field input-value.two-way="initialInvestment" label-text="I plan to invest"></currency-field>
    <dropdown label-text="The money I will invest is" placeholder-text="Choose a tax status" dropdown-id="funding-source">
      <button click.trigger="fundingSource = FundingSource.Qualified">Qualified</button>
      <button click.trigger="fundingSource = FundingSource.NonQualified">Non-qualified</button>
      <button click.trigger="fundingSource = FundingSource.TaxFree">Tax-free</button>
    </dropdown>

  </section>
  <hr />
  <section class="form__section">

    <dropdown label-text="I am" placeholder-text="Choose a sex" dropdown-id="sex">
      <button click.trigger="sex = Sex.Male">Male</button>
      <button click.trigger="sex = Sex.Female">Female</button>
    </dropdown>
    <form-field type="number" input-value.two-way="age" label-text="My current age is"></form-field>

    <dropdown label-text="My IRS filing status is" placeholder-text="Choose a filing status" dropdown-id="filing-status">
      <button click.trigger="filingStatus = FilingStatus.Joint">Joint</button>
      <button click.trigger="filingStatus = FilingStatus.HeadOfHousehold">Head of household</button>
      <button click.trigger="filingStatus = FilingStatus.Unmarried">Unmarried</button>
      <button click.trigger="filingStatus = FilingStatus.MarriedSeparate">Married filing separately</button>
    </dropdown>
    <currency-field input-value.two-way="income" label-text="My current income is"></currency-field>

  </section>
  <hr />
  <section class="form__section">

    <button type="submit" class="form__submit">Submit</button>

  </section>
  </section>
</form>

</template>
